// font
$lato: "Lato", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;

// @media
$media-dt: 1023px;
$media-tb: 767px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
