html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $media-mb;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: $lato;
  color: $c-black;
}

.site-wrapper {
  width: 90%;
  max-width: $w-site-wrapper-dt;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;

  &:not([href]) {
    cursor: unset;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}

template {
  display: none !important;
}

div[id="root"] {
  margin-top: auto;
  margin-bottom: auto;
}

::-moz-placeholder {
  opacity: 1;
}

.overflow-y-hidden {
  overflow-y: hidden;
}
